*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header start  */

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;

}
.logo img{
    width: 55%;
}
ul{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 50px;
}
ul li {
    list-style: none;
    padding-top: 25px;
}
ul li a{
    text-decoration:none;
    color: #000;
    font-weight: 500;
}

nav ul li a:hover{
    color: purple;
    border-bottom: 5px solid purple;
    
}


/* header end */

/* section 1  */



section{
  background: linear-gradient(#ac6ba9
  ,#e3886f);
  height: 600px;
  color: #fff;
  padding-top:80px ; 
  width: 100%;
  
}

#sec1{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.sec1-left{
    
 
 
}
.sec1-left h2{
    font-weight: 700;
    font-size: 45px;
}
.sec1-left p{
    padding-top: 25px;
    font-weight:500;
    font-size: 20px;
    margin-bottom: 0;
}
.sec1-body img{
    width: 100%;
}
.ul2{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}
.ul2 p{
     font-size: 30px;
     font-weight: 700;
   
}
.ul2 span{
    font-size: 20px;
}
.span1{
    font-size: 25px;
    font-weight: 700;
}
.sec1-right img{
    width: 100%;
}
.sec1-right{
    width: 35%;
}






.sec1-inner{
    width: 100%;
}
.sec1-pos{
  
    

    position: fixed;
    border-radius: 40px;
   

}
.sec1-pos a{
    text-align: center;
    padding: 20px;
    border-right: 1px solid #000;
}